.videosGrid {
  display: grid;
  margin-left: 20px;
  margin-bottom: auto;
  grid-template-columns: repeat(5, 1fr); /* Creates 3 columns */
  justify-content: center;
}

.title {
  width: auto;
  background-color: #908e8e;
  /* Light grey background, change as needed */
  border-radius: 30px;
  /* Rounded corners for bubble effect */
  padding: 15px;
  /* Space inside the bubble */
  margin: 20px;
  margin-top: 0px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 30px;
  /* Adjust font size as needed */
  word-break: break-word;
  /* Ensures text breaks to prevent overflow */
}