.uploadInput {
  display: none;
  /* Hide the default input */
}

.uploadButton {
  display: flex;
  /* Use Flexbox to center the text */
  justify-content: flex-end;
  /* Center text horizontally */
  align-items: center;
  /* Center text vertically */
  width: 28px;
  height: 28px;
  border-radius: 50px;
  /* Make it circular */
  color: black;
  /* Color of the text */
  border: 2px;
  cursor: pointer;
  font-size: 10px;
  padding: 0.4em;
  background-color: rgb(230, 230, 230);
  margin: 5px;
}

.uploadButton:hover {
  background-color: #bee0fd;
}