.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  /* Adjust the form width as necessary */
  margin: 0 auto;
  /* Center the form on the page */
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow around the form */
  border-radius: 8px;
  background: #4d4d4d;
  /* Form background */
}

.fileInput {
  margin-bottom: 1rem;
  width: 98%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.fileInput:hover,
.fileInput:focus {
  border-color: #0173e6;
}

.uploadButton {
  display: flex;
  float: right;
  padding: 0.75rem 1.5rem;
  background-color: #0759a7;
  /* Button color */
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButton:hover {
  background-color: #0055a3;
  /* Darken button on hover */
}

.titleInput {
  width: 100%;
  height: 50px;
  /* Default height */
  padding: 10px;
  /* More padding for larger height */
  box-sizing: border-box;
}

.textInput {
  width: 100%;
  height: 100px;
  /* Default height */
  padding: 10px;
  /* More padding for larger height */
  box-sizing: border-box;
}
