/* Styles for the search bar container */
.searchContainer {
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #b7b7b8;
  border: 1px solid #ccc;
}

/* Styles for the search input */
.searchInput {
  flex-grow: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
  background-color: #474747;
  width: 500px;
}

/* Media Query */
@media (max-width: 1200px) {
  .searchInput {
    width: 300px;
  }
}

/* Styles for the search button */
.searchButton {
  border: none;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
  background-color: #b7b7b8;
  color: #000000;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #949494;
}