.thumbnail {
  /* margin: 5px; */
  border: 3px solid rgb(192, 192, 192);
  border-radius: 15px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0px;
  transition: ease all 0.3s;
}

.thumbnail:hover {
  border-radius: 0px;
  transform:scale(1.01);
}

.thumbnailTitle {
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-left: 10px;
  font-size: 16px; /* Adjust font size as needed, with proper unit */
  word-break: break-word; /* Ensures text breaks to prevent overflow */
  max-width: 310px;
  transition: ease all 0.3s;
}

.thumbnailTitle:hover {
  border-radius: 0px;
  transform:scale(1.02);
}

.thumbnailContainer {
  /* Center horizontally */
  align-items: left;
  /* Center vertically */
  text-align: break-all;
}

.thumbnailContainer:Hover {
  cursor: pointer;
}

.videoBackground {
  width: 98%;
  background-color: #a19f9f;
  /* Light grey background, change as needed */
  border-radius: 15px;
  /* Rounded corners for bubble effect */
  padding: 5px;
  /* Space inside the bubble */
  margin: 0px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20px;
  /* Adjust font size as needed */
  word-break: break-word;
  /* Ensures text breaks to prevent overflow */
}

.title {
  width: inherit;
  background-color: #c9c6c6; /* Light grey background, change as needed */
  border-radius: 12px; /* Rounded corners for bubble effect */
  padding: 10px; /* Space inside the bubble */
  margin: 1px;
  margin-bottom: 3px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 30px; /* Adjust font size as needed */
  word-break: break-word; /* Ensures text breaks to prevent overflow */
}

.description {
  width: inherit;
  background-color: #d5d5d5; /* Light grey background, change as needed */
  border-radius: 12px; /* Rounded corners for bubble effect */
  padding: 10px; /* Space inside the bubble */
  padding-top: 1px;
  margin: 1px;
  color: black;
  font-family: Arial, sans-serif;
  word-break: break-word; /* Ensures text breaks to prevent overflow */
  font-size: 15px; /* Smaller font size for description */
  /* Other properties will inherit from .title */
}

.line::after {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background: black;
  margin-bottom: 10px; /* Distance from the element */
}

.link {
  text-decoration: none;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

